<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Shop">

	 <listeners>
	<listener class-name = "com.shopping.ecommerce.utilities.GenerateExtentReport"/>
	</listeners>

  <test name="Ecommerce Login Test">
  	<parameter name="browser" value="Chrome"/>
      <classes>
      <class name="com.shopping.ecommerce.testCases.LoginTest_TC001"/>
     	<class name="com.shopping.ecommerce.testCases.LoginTest_TC002"/> 
       <class name="com.shopping.ecommerce.testCases.SignupTest_TC001"/>
      <class name="com.shopping.ecommerce.testCases.BuyProductTest_TC001"/>
      </classes>
  </test> <!-- Test -->    
</suite> <!-- Suite -->